.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h3,
h2,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
}

.banner{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 100vh;
    /* padding: 250px 0; */
    
    background-image: linear-gradient(90deg,
                rgba(255, 0, 0, 0.718) 0,
                rgba(255, 0, 0, 0.718) 30%,
                rgba(255, 255, 0, 0.644) 30%,
                rgba(255, 255, 0, 0.644) 50%,
                transparent 50%), url(../img/pexels-stefan-stefancik-92380.jpg);
    background-repeat: no-repeat;
    background-color: bisque;
    background-size: cover;
    background-position:center, center;  
    background-attachment: fixed;
}

.banner-content{
max-width: 500px;
padding: 20px;
margin: auto;
text-align: center;
background-color: rgba(155, 255, 255, 0.521);
border: 10px solid rgba(255, 255, 255, 0.7);
background-clip: padding-box;
}

.page-title, .description{
font-size: 14px;
color: cornflowerblue;
}

.about .img{
    box-shadow: 10px 20px 10px 30px red,
    40px 0px 10px 10px orange,
    60px 0px 10px 10px yellow;
}